

.homeContainer{
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: rgb(124,105,105);
background: linear-gradient(180deg, rgb(237, 237, 237) 0%, rgb(190, 187, 181) 50%);
}

.homeTitle{
  width: 80%;
  font-size: 20px;
}